# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs and temporary files
*.log
*.tmp

# Miscellaneous
.DS_Store

# Test files
test_*.py

*.bat